body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(130deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.inp {
    display: block;
    background-color: rgb(191, 238, 247);
    color:cornflowerblue;
}
.label{
    display: none;
}
.push {
    display: block;
    background-color: coral;
    width: 90px;
    height: 20px;
}
.picture {
    display:block;
    margin-top: 30px;
    width:200px;
    height: 100px;
}